.post{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

div .imagemPost{
    background-size: cover;   
    width: 100%;
    height:70%;
    border-radius: 10px;
    
}

div .textoPost{
    width: 100%;
    height: 50%;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div div h3{
    font-size: 1.2rem;
    
}

.detalhes{
    display: flex;
    gap: 10px;
    color: #888;
}