*{    
    text-decoration: none !important;
}
.link{
    font-weight: bold;
    color: #138305;
}

.menu{
    font-weight: bold !important;
    color: #138305 !important;
}

.form-control{
    border: 1px solid #138305 !important;
}

.navbar-toggler {
    border: 1px solid #138305 !important;
}